<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nighthold_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nighthold_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Nighthold_Launcher.Properties.Settings>
            <setting name="BuyDPUrl" serializeAs="String">
                <value>https://nighthold.pro/dashboard/payment/add</value>
            </setting>
            <setting name="WindowSizeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowSizeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableNotificationPopups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartLauncherWithComputer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartLauncherMinimizedToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationPopupsSettingId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CloseButtonSettingId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlayButtonSettingId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Start" serializeAs="String">
                <value />
            </setting>
        </Nighthold_Launcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Nighthold_Launcher.Properties.Settings>
            <setting name="XMLDocumentUrl" serializeAs="String">
                <value>https://launcher.nighthold.pro/Config.xml</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Nighthold</value>
            </setting>
            <setting name="ClientPathsDefault" serializeAs="Xml">
                <value>
                    <ClientPaths>
                        <Expansion id="1" update_version="0" />
                        <Expansion id="2" update_version="0" />
                        <Expansion id="3" update_version="0" />
                        <Expansion id="4" update_version="0" />
                        <Expansion id="5" update_version="0" />
                        <Expansion id="6" update_version="0" />
                        <Expansion id="7" update_version="0" />
                        <Expansion id="8" update_version="0" />
                        <Expansion id="9" update_version="0" />
                    </ClientPaths>
                </value>
            </setting>
        </Nighthold_Launcher.Properties.Settings>
    </applicationSettings>
</configuration>